<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
    <div class="nav">
        <div class="nav__logo">
            <a class="logo" href="/"><img src="https://cdn.discordapp.com/attachments/1096467631449575434/1147206636730060901/image.png" width="40px" alt="logo" /></a>
            <a class="name" href="/">To Do </a>
        </div>
        <div class="nav__links">
            <p>user's name</p>
            
        </div>
    </div>
    