<%- include("partials/header.ejs") %>
<div class="container">
    <a href="/"><div class="left-container">
        <div>My Day</div></a>
        <!-- <div>Important</div> -->
       <a href="/tasks"> <div>Task</div></a>
    </div>
    <div class="right-container">
        <div class="right-container__header">
            <h1>My To-Do List</h1>
        </div>
        <div class="right-container__body">
            <form action="/add" method="POST">
                <input type="text" name="item"  placeholder="Add a new item" required>
                <button type="submit">+</button>
            </form>
            <ul>
                <% if (locals.newItem){ %>
                <% for (let i=0; i<newItem.length; i++){ %>
                <li>
                    <span><%= newItem[i] %></span><%  %>
                    <form action="/delete" method="post">
                        <input type="hidden" name="id" value="<%= i %>">
                        <button type="submit">-</button>
                    </form>
                </li>
                <% } %>
                <%}  %>
                
            </ul>
        </div>

    </div>
</div>
<%- include("partials/footer.ejs") %>

</body>
</html>